* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.options-cont{
  display: flex;
  height: 4rem;
  width: 3.5rem;
  background-color: #f1f3f6;
  position: absolute;
  top: 2rem;
  left: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tools-cont{
    display: flex;
    height: 5rem;
    width: 55vw;
    background-color:#f1f3f6;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 25vw;
    padding:10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tools-cont>*{
    display: block;
    width: 4rem;
}
.scale-tool{
    animation-name: scale-tool;
    animation-duration: 1s;
}
@keyframes scale-tool {
    0%{
        transform: scale(.1);
    }
    100%{
        transform: scale(1);
    }
}
.pencil-tool-cont{
    display: none;
    height: 4rem;
    width: 7rem;
    background-color: #f1f3f6;
    position: absolute;
    top: 7rem;
    left: 25vw;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pencil-stroke-cont{
    background-color: #f1f3f6;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-stroke-cont input{
    width:90%;
}
.pencil-color-cont{
    height: calc(100% - 2rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.pencil-color{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.black{
    background-color: black;
}
.red{
    background-color: crimson;
}
.blueviolet{
    background-color:blueviolet
}
.yellow{
    background-color: #e68d19;
}
.green{
    background-color: green;
}
.eraser-size-cont{
    height: 1.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    width: 7rem;
    background-color: #f1f3f6;
    position: absolute;
    top: 7rem;
    left: 34vw;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.eraser-size-cont input{
    width: 90%;
}
.sticky-cont{
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 50vh;
    left:50vw;
}
.header-cont{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    background-color: #4b4d4e;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
i.fa-window-minimize{
    color: #f1f3f6;
    width: 2rem;
    height: 1rem;
    position:relative;
    top:-1.2rem;
    font-size: 2rem;
    margin-right: 1rem;
}
i.fa-xmark{
    color: #f1f3f6;
    width: 2rem;
    font-size: 2rem;
    margin-right: .5rem;
}
.note-cont{
    height: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.textarea{
    background-color: #f1f3f6;
    height: 100%;
    width:100%;
    outline: none;
    border:none;
    resize:none;
    font-size: 1rem;
    font-family: cursive;
}

img{
    width: 100%;
    height: 100% ;
}