*{
    box-sizing: border-box;
}
body {
    font-family: 'Lora', serif;
    background-color: #639a67;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    min-height: 100vh;
}
.container{
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;

}
.header{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    background-color: #f7f7f7;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
}
.header h2{
    margin: 0;
}
.form{
    padding: 30px 40px;
}
.form-controls{
    margin-bottom: 10px;
    padding-bottom:20px;
    position: relative;
}
.form-controls label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-controls input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form-controls i{
    position: absolute;
    top:40px;
    right: 10px;
    visibility: hidden;
}
.form-controls.success i.fa-check-circle{
    color:#2ecc71;
    visibility: visible;
}

.form-controls.error i.fa-circle-exclamation{
    color:#e74c3c;
    visibility: visible;
}
.form-controls small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left:0;
    font-weight: bold;
}
.form button{
    background-color: #86cf8c;
    border: 2px solid #86cf8c;
    border-radius: 2px;
    display: block;
    font-weight: bold;
    font-family: inherit;
    font-size: 15px;
    padding: 10px;
    width:100%;
}

.form-controls.success input{
    border-color:#2ecc71;
}
.form-controls.error input{
    border-color:#e74c3c;
}
.form-controls.error small{
    color:#e74c3c;
    visibility: visible;
}

